{#  -*- coding: utf-8 -*- #}
{% import 'simple_helper.tmpl' as simple with context %}
{{ set_locale(lang) }}
<!DOCTYPE html>
<head>
    {{ simple.html_head() }}
    {% block extra_head %}{% endblock %}
    {{ extra_head_data }}
</head>
<body id="top">
	<div id="side-left" class="side">
		<h1 id="blog-title"><a href="{{ abs_link('/') }}" title="{{ blog_title }}" rel="home">{{ blog_title }}</a></h1>
		{% block belowtitle %}{% endblock %}
		<nav>
			<ul>{{ simple.html_navigation_links() }}</ul>
		</nav>
		{% block available_langs %}{% endblock %}
	</div>
	
	<div id="side-right">
		<div id="content">{% block content %}{% endblock %} </div>
		<footer>
			<div id="search">
				<p>Search: </p>
				{{ search_form }}
			</div>
			
			{{ content_footer }}
		</footer>
	</div>
	
    {{ simple.late_load_js() }}
    {{ body_end }}
</body>
