{#  -*- coding: utf-8 -*- #}

{% if post.mentions and post.mentions['tweets'] %}

<ul id="tweets"> 
{% for tweets, prop in post.mentions['tweets'].iteritems() if not prop['user_screen_name'] == twitter_user %}
	<li><div>
		<img src="/images/avatars/{{ prop['profile_image_local'] }}">
		<p><span class="user">@{{ prop['user_screen_name'] }}</span> </p>
		<p>{{ prop['text'] }} <time><a href="https://twitter.com/{{ prop['user_screen_name'] }}/status/{{ prop['id'] }}">{{ simple.date_readable(prop['created_at']) }}</a></time></p>
	</div>
	</li>
{% endfor %}
</ul>

{% endif %}

{% if not LOCALHOST %}
<script id="webmention-hosted">
  (function () {
    var sn = document.createElement("script"), s = document.getElementsByTagName("script")[0], url;
    url = document.querySelectorAll ? document.querySelectorAll("link[rel~=canonical]") : false;
    url = url && url[0] ? url[0].href : false;
    sn.type = "text/javascript"; sn.async = true;
    sn.src = "//webmention.herokuapp.com/api/embed?url=" + encodeURIComponent(url || window.location);
    s.parentNode.insertBefore(sn, s);
  }());
</script>
<noscript>
{% if post.mentions and post.mentions['webmention']%}
<ul id="webmentions"> 
{% for mentions, prop in post.mentions['webmention'].iteritems() %}
	<li><div>
		<p>Comment by <span class="author">
		{% if prop['author_url'] %}
		<a href="{{ prop['author_url'] }}">{{ prop['author_name'] }}</a>
		{% else %}
		{{ prop['author_name'] }}
		{% endif %}
		</span> at <a href="{{ prop['source']}}">{{ prop['source']}}</a></p>
		<p>{{ prop['source_summary'] }}</p>
		<time class="date">{{ simple.date_readable(prop['source_pub_date']) }}</time>
	</div>
	</li>
{% endfor %}
</ul>
{% endif %}
</noscript>
{% endif %}

{#For now just load the webmention yaml when in localhost#}
{% if LOCALHOST and post.mentions and post.mentions['webmention']%}

<ul id="webmentions"> 
{% for mentions, prop in post.mentions['webmention'].iteritems() %}
	<li><div>
		<p>Comment by <span class="author">
		{% if prop['author_url'] %}
		<a href="{{ prop['author_url'] }}">{{ prop['author_name'] }}</a>
		{% else %}
		{{ prop['author_name'] }}
		{% endif %}
		</span> at <a href="{{ prop['source']}}">{{ prop['source']}}</a></p>
		<p>{{ prop['source_summary'] }}</p>
		<time class="date">{{ simple.date_readable(prop['source_pub_date']) }}</time>
	</div>
	</li>
{% endfor %}
</ul>
{% endif %}

